@import '../styles/lib/index.scss';

.app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  background-color: $secondary;
}

.main__header {
  padding: ($gutter * 2) 0;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
  border-bottom: 1px solid #d7dbe3;
}

.main__username {
  font-weight: bold;
  color: $primary;
  font-size: 1.2rem;
}

.main__last-seen {
  color: lighten($text, 30%);
}

.main__chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}


.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Todo
}

.message {
  flex: 1 0;
  display: flex;
  align-items: flex-end;
  margin: $gutter / 2;
  margin-bottom: $gutter / 2;
  max-width: 60%;
}

.message--me {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message--me .message__body {
  border-bottom-right-radius: 0;
}

.message--other .message__body {
  border-bottom-left-radius: 0;
  background-color: $primary;
  color: $white;
}

.message__avatar {
  @extend .shadowed;

  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

.message__avatar img {
}

.message--other .message__avatar {
  margin-right: $gutter / 2;
}

.message--me .message__avatar {
  margin-left: $gutter / 2;
}

.message__body {
  @extend .p, .shadowed;

  flex: 1;
  background-color: $white;
  color: $text;
  border-radius: 1rem;
}

.message__time {
  font-size: .8rem;
  color: darken($secondary, 30);
  margin: 0 $gutter / 2;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.message:hover .message__time {
  opacity: 1;
}

.fa-clock, .fa-check-double {
  margin-left: 1rem;
  font-size: .7rem;
  color: $primary;
}

.fa-clock {
  color: darken($grey, 20%);
}

.main__compose {
  @extend .shadowed;

  margin-top: $gutter * 2;
  position: relative;
}

.compose__button {
  @extend .shadowed;
  
  position: absolute;
  top: 0;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background: $primary;
  color: $white;
  border-radius: 50%;
  padding: .6rem;
  padding-right: .9rem;
  font-size: 1.6rem;
  text-align: center;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.compose__input {
  @extend .p;

  width: 100%;
  border-width: 0;
}

.main__please-select {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  // width: 35rem;

  font-weight: bold;
  color: lighten($text, 40%);
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
}
