@import '../styles/lib/index.scss';

.app__home {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.home__intro {
  padding-bottom: $gutter * 3;
}

.intro__title {
  font-size: 2rem;
  color: $primary;

  @include mobile {
    display: none;
  }
}

.intro__message {
  margin-top: $gutter;
  position: relative;
  color: $text;
  font-size: 1.1rem;
  width: 600px;
  line-height: 1.9rem;

  p {
    margin-top: 1rem;
  }

  a, a:visited {
    text-decoration: none;
    color: $primary;
  }

  @include mobile {
    display: none;
  }
}

.home__actions {
  @extend .shadowed;

  border-radius: $border-radius;
  position: absolute;
  top: 12rem;
  right: 10rem;
  background: $white;
  z-index: 10;

  @include mobile {
    top: 5rem;
    left: 0;
    right: 0;
  }
}

.home__second {
  position: absolute;
  left: 0;
  right: 0;
  background: $white;

  @include mobile {
    display: none;
  }
}

.screenshot {
  margin-left: 5rem;
  width: 35.5rem;
}

.screenshot__img {
  margin-top: -3rem;
  width: calc(100% - 4rem);
}