@import '../styles/lib/index.scss';

.app__contacts {
  @extend .p, .shadowed;

  display: flex;
  margin-right: 2 * $gutter;
  border-radius: $border-radius;
  width: 18rem;
  background-color: $white;
  font-size: .9rem;
  flex-direction: column;
  padding-bottom: 0;

  @include mobile {
    width: 5.5rem;
    overflow: hidden;
    padding: $gutter / 2;
  }
}

.app__contacts--active {
  @include mobile {
    width: 100%;
    margin-right: 0;
  }
}

.contacts__header {
  @extend .clearfix;

  padding-bottom: $gutter;
  font-weight: bold;
  color: $primary;
  border-bottom: 1px solid darken($secondary, 10%);
}

.contacts__title {
  padding: $gutter 0;
  float: left;
  font-size: 1.2rem;
}

.contacts__find {
  @extend .p;

  cursor: pointer;
  float: right;
  font-size: 1rem;
  font-weight: normal;
  background-color: darken($secondary, 10);
  color: darken($secondary, 40%);
  border-radius: $border-radius;
}

.contacts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0 (-1 * $gutter);

  @include mobile {
    padding-left: $gutter / 2;
  }
}

.contacts__contact {
  @extend .p;

  flex: 0 0 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: inherit;
  color: inherit;
}

.contact__avatar {
  flex: 0 0 3.5rem;
  margin-right: $gutter;
  position: relative;
}

.avatar__img-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
}


.contact__badge {
  @extend .shadowed;

  position: absolute;
  top: -.2rem;
  right: -.2rem;
  width: 1.7rem;
  height: 1.7rem;
  padding: .5rem;
  background: $primary;
  color: $white;
  border-radius: 50%;
  font-size: .8rem;
  font-weight: bold;
  text-align: center;
}

.contact__info {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.contact__username {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: $gutter;
}

.contact__message {
  flex: 1;
  color: lighten($text, 30%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__body {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}

.contact__time {
  white-space: nowrap;
}

.contact--active {
  background: lighten($secondary, 1%);
}
