@import './styles/lib/index.scss';

.container {
  height: 100vh;
  background: $secondary;
  flex-direction: column;
  padding: $gutter * 2;
}

.app {
  margin-top: 4.5rem;
  height: calc(100% - 4.5rem);
  flex: 1;
  display: flex;
  align-items: stretch;
}
